In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("dataset_CV.csv", delimiter = ";")

In [3]:
dataset.head()

  CV_number                                            CV_text
0      CV_1  SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...
1      CV_2  Ananya Singh \nProfesseure de Lycée\nPROFIL PE...
2      CV_3  Samira Hadid \n16 place Urbain II, 63000 Clerm...
3      CV_4  Carine Maurice \nIngénieure logiciel avec 10 a...
4      CV_5  MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...

In [4]:
dataset.shape

(12, 2)