## 1. Chargement des librairies et du dataset

In [112]:
import pandas as pd
import spacy

In [118]:
dataset = pd.read_csv("dataset_CV.csv", delimiter = ";")

In [114]:
dataset.head()

  CV_number                                            CV_text
0      CV_1  SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...
1      CV_2  Ananya Singh \nProfesseure de Lycée\nPROFIL PE...
2      CV_3  Samira Hadid \n16 place Urbain II, 63000 Clerm...
3      CV_4  Carine Maurice \nIngénieure logiciel avec 10 a...
4      CV_5  MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...

In [120]:
dataset.shape

(31, 2)

In [119]:
dataset.tail()

   CV_number                                            CV_text
26     CV_27  CAMILLE ANDRÉ Candidate au doctorat en physiqu...
27     CV_28  EXPÉRIENCE PROFESSIONNELLE AUG INGÉNIEURE LOGI...
28     CV_29  PROFIL Mannequin avec 5 ans d'expérience dans ...
29     CV_30  Amory Bouvard MENUISIER SENIOR EXPÉRIENCE PROF...
30     CV_31  À mon sujet 0 Expérience de comédie Je suis un...

## 2. Installation de Spacy

In [121]:
nlp = spacy.load("fr_core_news_md")

## 3. Pre-processing

In [57]:
dataset.head()

  CV_number                                            CV_text
0      CV_1  SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...
1      CV_2  Ananya Singh \nProfesseure de Lycée\nPROFIL PE...
2      CV_3  Samira Hadid \n16 place Urbain II, 63000 Clerm...
3      CV_4  Carine Maurice \nIngénieure logiciel avec 10 a...
4      CV_5  MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...

a. Création d'une nouvelle colonne et remplacement du "\n" dans les textes par un espace

In [58]:
dataset["Tokenization_preparation"] = dataset["CV_text"].apply(lambda x : str(x).replace("\n", " "))

In [59]:
dataset.head()

,CV_number,CV_text,Tokenization_preparation
0,CV_1,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...
1,CV_2,Ananya Singh \nProfesseure de Lycée\nPROFIL PE...,Ananya Singh Professeure de Lycée PROFIL PERS...
2,CV_3,"Samira Hadid \n16 place Urbain II, 63000 Clerm...","Samira Hadid 16 place Urbain II, 63000 Clermo..."
3,CV_4,Carine Maurice \nIngénieure logiciel avec 10 a...,Carine Maurice Ingénieure logiciel avec 10 an...
4,CV_5,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE ASS...

b. Tokenisation du texte

In [60]:
dataset["Tokenization"] = dataset["Tokenization_preparation"].apply(lambda x : nlp(x))

In [61]:
dataset.head()

,CV_number,CV_text,Tokenization_preparation,Tokenization
0,CV_1,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIAS..."
1,CV_2,Ananya Singh \nProfesseure de Lycée\nPROFIL PE...,Ananya Singh Professeure de Lycée PROFIL PERS...,"(Ananya, Singh, , Professeure, de, Lycée, PRO..."
2,CV_3,"Samira Hadid \n16 place Urbain II, 63000 Clerm...","Samira Hadid 16 place Urbain II, 63000 Clermo...","(Samira, Hadid, , 16, place, Urbain, II, ,, 6..."
3,CV_4,Carine Maurice \nIngénieure logiciel avec 10 a...,Carine Maurice Ingénieure logiciel avec 10 an...,"(Carine, Maurice, , Ingénieure, logiciel, ave..."
4,CV_5,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE ASS...,"(MARCELLE, ANDRÉ, EXPÉRIENCE, PROFESSIONNELLE,..."

c. Compter le nombre de tokens par CV

In [62]:
dataset["Number_of_tokens"] = dataset["Tokenization"].apply(lambda x : len(x))

In [63]:
dataset.head()

,CV_number,CV_text,Tokenization_preparation,Tokenization,Number_of_tokens
0,CV_1,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIAS...",214
1,CV_2,Ananya Singh \nProfesseure de Lycée\nPROFIL PE...,Ananya Singh Professeure de Lycée PROFIL PERS...,"(Ananya, Singh, , Professeure, de, Lycée, PRO...",291
2,CV_3,"Samira Hadid \n16 place Urbain II, 63000 Clerm...","Samira Hadid 16 place Urbain II, 63000 Clermo...","(Samira, Hadid, , 16, place, Urbain, II, ,, 6...",315
3,CV_4,Carine Maurice \nIngénieure logiciel avec 10 a...,Carine Maurice Ingénieure logiciel avec 10 an...,"(Carine, Maurice, , Ingénieure, logiciel, ave...",292
4,CV_5,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE ASS...,"(MARCELLE, ANDRÉ, EXPÉRIENCE, PROFESSIONNELLE,...",284

In [66]:
dataset.describe()

       Number_of_tokens
count         21.000000
mean         267.000000
std           58.783501
min          138.000000
25%          231.000000
50%          278.000000
75%          297.000000
max          410.000000

c. Transformation du texte des CV en phrase

In [108]:
## Test sur 1 CV
dataset.iloc[0,2]

"SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PROFIL PERSONNEL Je suis étudiante au lycée Condorcet. Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens. RÉALISATIONS Chef d'équipe du site Web du lycée - Vice-présidente du club cinématographique du lycée - Trésorière de la société des codeurs du lycée - Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques Centre scolaire de Condorcet Jan 2019 - présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire | Berou Solutions, Inc. mars - mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE Lycée de Condorcet · Spécialisation en technologie | Classe de 2020 • Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES Marion Bardot | Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu | Directrice, Centre scolaire de Condorcet 01 12 13 14 15 bonjour@sitevraimentsuper.fr www.sitevraimentsuper.fr"

In [105]:
## Création d'une variable pour accueillir le texte du CV
doc = dataset.iloc[0,2]

In [106]:
## Application de la commande nlp pour tokeniser le texte du CV
doc = nlp(doc)

In [109]:
doc

SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PROFIL PERSONNEL Je suis étudiante au lycée Condorcet. Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens. RÉALISATIONS Chef d'équipe du site Web du lycée - Vice-présidente du club cinématographique du lycée - Trésorière de la société des codeurs du lycée - Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques Centre scolaire de Condorcet Jan 2019 - présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire | Berou Solutions, Inc. mars - mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE Lycée de Condorcet · Spécialisation en technologie | Classe de 2020 • Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES Marion Bardot | Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu | Directrice, Centre scolaire de Condorcet 01 12 13 14 15 bonjour@sitevraimentsuper.fr www.sitevraimentsuper.fr

In [122]:
type(doc)

spacy.tokens.doc.Doc

In [124]:
## Décomposition des mots du texte du CV en utilisant des attributs de la fonction token

for token in doc:
    print(token.text, token.pos_, token.tag_, token.dep_,
            token.shape_, token.is_alpha, token.is_stop)

SELMA NUM NUM nummod XXXX True False
LAFKIR NOUN NOUN nsubj XXXX True False
CORDE VERB VERB ROOT XXXX True False
80 DET DET nummod dd False False
CODEUSE VERB VERB ROOT XXXX True False
ENTHOUSIASTE NOUN NOUN nmod XXXX True False
PROFIL NOUN NOUN ROOT XXXX True False
PERSONNEL ADJ ADJ dep XXXX True False
Je PRON PRON nsubj Xx True True
suis AUX AUX cop xxxx True True
étudiante ADJ ADJ ROOT xxxx True False
au ADP ADP case xx True True
lycée NOUN NOUN obl:arg xxxx True False
Condorcet PROPN PROPN nmod Xxxxx True False
. PUNCT PUNCT punct . False False
Je PRON PRON nsubj Xx True True
code VERB VERB ROOT xxxx True False
depuis ADP ADP case xxxx True True
l' DET DET det x' False True
âge NOUN NOUN obl:arg xxx True False
de ADP ADP case xx True True
13 NUM NUM nummod dd False False
ans NOUN NOUN nmod xxx True False
et CCONJ CCONJ cc xx True True
j' PRON PRON nsubj x' False True
aime VERB VERB conj xxxx True False
créer VERB VERB xcomp xxxx True False
des DET DET det xxx True True
sites NOUN NOUN obj xxxx True False
Web PROPN PROPN amod Xxx True False
et CCONJ CCONJ cc xx True True
utiliser VERB VERB conj xxxx True False
la DET DET det xx True True
technologie NOUN NOUN obj xxxx True False
pour ADP ADP mark xxxx True True
aider VERB VERB advcl xxxx True False
les DET DET det xxx True True
gens NOUN NOUN obj xxxx True True
. PUNCT PUNCT punct . False False
RÉALISATIONS NOUN NOUN ROOT XXXX True False
Chef ADJ ADJ ROOT Xxxx True False
d' ADP ADP case x' False True
équipe NOUN NOUN obl:arg xxxx True False
du ADP ADP case xx True True
site NOUN NOUN nmod xxxx True False
Web ADJ ADJ amod Xxx True False
du ADP ADP case xx True True
lycée NOUN NOUN nmod xxxx True False
- PUNCT PUNCT punct - False False
Vice-présidente NOUN NOUN ROOT Xxxx-xxxx False False
du ADP ADP case xx True True
club NOUN NOUN nmod xxxx True False
cinématographique ADJ ADJ amod xxxx True False
du ADP ADP case xx True True
lycée NOUN NOUN nmod xxxx True False
- PUNCT PUNCT punct - False False
Trésorière NOUN NOUN ROOT Xxxxx True False
de ADP ADP case xx True True
la DET DET det xx True True
société NOUN NOUN nmod xxxx True False
des ADP ADP case xxx True True
codeurs NOUN NOUN nmod xxxx True False
du ADP ADP case xx True True
lycée NOUN NOUN nmod xxxx True False
- PROPN PROPN ROOT - False False
Premier ADJ ADJ amod Xxxxx True True
prix NOUN NOUN ROOT xxxx True False
au ADP ADP case xx True True
Hackathon NOUN NOUN nmod Xxxxx True False
de ADP ADP case xx True True
Condorcet PROPN PROPN nmod Xxxxx True False
EXPÉRIENCE NOUN NOUN nmod XXXX True False
Tuteur NOUN NOUN ROOT Xxxxx True False
en ADP ADP case xx True True
mathématiques NOUN NOUN nmod xxxx True False
Centre NOUN NOUN ROOT Xxxxx True False
scolaire ADJ ADJ amod xxxx True False
de ADP ADP case xx True True
Condorcet PROPN PROPN nmod Xxxxx True False
Jan PROPN PROPN nmod Xxx True False
2019 NOUN NOUN nmod dddd False False
- PUNCT PUNCT punct - False False
présent NOUN NOUN ROOT xxxx True False
• NOUN NOUN punct • False False
Cours NOUN NOUN ROOT Xxxxx True False
particuliers ADJ ADJ amod xxxx True False
avec ADP ADP case xxxx True True
des DET DET det xxx True True
élèves NOUN NOUN nmod xxxx True False
du ADP ADP case xx True True
secondaire NOUN NOUN nmod xxxx True False
sur ADP ADP case xxx True True
différents ADJ ADJ amod xxxx True True
domaines NOUN NOUN nmod xxxx True False
des ADP ADP case xxx True True
mathématiques NOUN NOUN nmod xxxx True False
• PUNCT PUNCT punct • False False
Cours NOUN NOUN ROOT Xxxxx True False
d' ADP ADP case x' False True
algèbre NOUN NOUN nmod xxxx True False
Développeuse PROPN PROPN nmod Xxxxx True False
stagiaire ADJ ADJ amod xxxx True False
| PUNCT PUNCT case | False False
Berou PROPN PROPN ROOT Xxxxx True False
Solutions NOUN NOUN nmod Xxxxx True False
, PUNCT PUNCT punct , False False
Inc X X nmod Xxx True False
. PUNCT PUNCT punct . False False
mars NOUN NOUN ROOT xxxx True False
- PUNCT PUNCT punct - False False
mai NOUN NOUN ROOT xxx True False
2019 NUM NUM nmod dddd False False
Traduction NOUN NOUN ROOT Xxxxx True False
de ADP ADP case xx True True
wireframes NOUN NOUN nmod xxxx True False
en ADP ADP case xx True True
code NOUN NOUN nmod xxxx True False
frontal ADJ ADJ amod xxxx True False
Aide NOUN NOUN ROOT Xxxx True False
à ADP ADP case x True True
la DET DET det xx True True
création NOUN NOUN obl:arg xxxx True False
d' ADP ADP case x' False True
une DET DET det xxx True True
application NOUN NOUN nmod xxxx True False
de ADP ADP case xx True True
commande NOUN NOUN nmod xxxx True False
en ADP ADP case xx True True
ligne NOUN NOUN nmod xxxx True False
Recherche NOUN NOUN nmod Xxxxx True False
d' ADP ADP case x' False True
utilisateurs NOUN NOUN nmod xxxx True False
effectuée VERB VERB acl xxxx True False
par ADP ADP case xxx True True
le DET DET det xx True True
biais NOUN NOUN obl:agent xxxx True False
d' ADP ADP case x' False True
enquêtes NOUN NOUN nmod xxxx True False
et CCONJ CCONJ cc xx True True
d' ADP ADP case x' False True
entretiens NOUN NOUN conj xxxx True False
PARCOURS NOUN NOUN advmod XXXX True False
SCOLAIRE NOUN NOUN amod XXXX True False
Lycée PROPN PROPN amod Xxxxx True False
de ADP ADP case xx True True
Condorcet PROPN PROPN nmod Xxxxx True False
· PROPN PROPN nmod · False False
Spécialisation NOUN NOUN ROOT Xxxxx True False
en ADP ADP case xx True True
technologie NOUN NOUN nmod xxxx True False
| PUNCT PUNCT punct | False False
Classe NOUN NOUN ROOT Xxxxx True False
de ADP ADP case xx True True
2020 NUM NUM nmod dddd False False
• PUNCT PUNCT ROOT • False False
Diplômée NOUN NOUN ROOT Xxxxx True False
avec ADP ADP case xxxx True True
une DET DET det xxx True True
moyenne NOUN NOUN nmod xxxx True False
de ADP ADP mark xx True True
16/20 NOUN NOUN nmod dd/dd False False
• NOUN NOUN det • False False
Membre NOUN NOUN ROOT Xxxxx True False
de ADP ADP case xx True True
l' DET DET det x' False True
association NOUN NOUN nmod xxxx True False
des ADP ADP case xxx True True
étudiants NOUN NOUN nmod xxxx True False
en ADP ADP case xx True True
histoire NOUN NOUN nmod xxxx True False
Excellence NOUN NOUN ROOT Xxxxx True False
académique ADJ ADJ amod xxxx True False
en ADP ADP case xx True True
histoire NOUN NOUN nmod xxxx True False
, PUNCT PUNCT punct , False False
mathématiques ADJ ADJ conj xxxx True False
et CCONJ CCONJ cc xx True True
multimédia PROPN PROPN conj xxxx True False
durant ADP ADP case xxxx True True
2 NUM NUM nummod d False False
années NOUN NOUN ROOT xxxx True False
consécutives ADJ ADJ amod xxxx True False
RÉFÉRENCES ADJ ADJ ROOT XXXX True False
Marion PROPN PROPN ROOT Xxxxx True False
Bardot PROPN PROPN flat:name Xxxxx True False
| PUNCT PUNCT punct | False False
Professeure NOUN NOUN ROOT Xxxxx True False
, PUNCT PUNCT punct , False False
lycée NOUN NOUN nmod xxxx True False
de ADP ADP case xx True True
Condorcet PROPN PROPN nmod Xxxxx True False
Caroline PROPN PROPN nmod Xxxxx True False
Clément PROPN PROPN flat:name Xxxxx True False
| ADP ADP case | False False
Professeure NOUN NOUN ROOT Xxxxx True False
, PUNCT PUNCT punct , False False
lycée NOUN NOUN nmod xxxx True False
Beaulieu PROPN PROPN nmod Xxxxx True False
Myriam PROPN PROPN ROOT Xxxxx True False
Barbu PROPN PROPN flat:name Xxxxx True False
| PUNCT PUNCT punct | False False
Directrice PROPN PROPN ROOT Xxxxx True False
, PUNCT PUNCT punct , False False
Centre NOUN NOUN nmod Xxxxx True False
scolaire ADJ ADJ amod xxxx True False
de ADP ADP case xx True True
Condorcet NOUN NOUN nmod Xxxxx True False
01 NOUN NOUN nmod dd False False
12 NUM NUM nummod dd False False
13 DET DET nmod dd False False
14 DET DET nmod dd False False
15 NUM NUM nmod dd False False
bonjour@sitevraimentsuper.fr NOUN NOUN nmod xxxx@xxxx.xx False False
www.sitevraimentsuper.fr NOUN NOUN nmod xxx.xxxx.xx False False

In [129]:
## Création de listes pour accueillir les données de la grammar sequence
list_token_text = []
list_token_pos_ = []
list_token_tag_ = []
list_token_is_alpha = []

for token in doc:
    list_token_text.append(token.text)
    list_token_pos_.append(token.pos_)
    list_token_tag_.append(token.tag_)
    list_token_is_alpha.append(token.is_alpha)

In [130]:
df_grammar = pd.DataFrame(columns= ["Text", "Pos_", "Tag_","Is_alpha"])

In [131]:
df_grammar.head()

Empty DataFrame
Columns: [Text, Pos_, Tag_, Is_alpha]
Index: []

In [132]:
df_grammar["Text"] = list_token_text
df_grammar["Pos_"] = list_token_pos_
df_grammar["Tag_"] = list_token_tag_
df_grammar["Is_alpha"] = list_token_is_alpha

In [140]:
df_grammar.head()

      Text  Pos_  Tag_  Is_alpha
0    SELMA   NUM   NUM      True
1   LAFKIR  NOUN  NOUN      True
2    CORDE  VERB  VERB      True
3       80   DET   DET     False
4  CODEUSE  VERB  VERB      True

In [141]:
df_grammar.shape

(214, 4)

In [103]:
sentence_split = []
def sentensizer_text(dataset.iloc[0,2]):
   return sentence_split

In [104]:
sentensizer_text(dataset)

AttributeError: 'str' object has no attribute 'str'

In [75]:
#sentence_split = []
#raw = dataset.iloc[0,2].split(".")
#sentence_split.append(raw)

In [80]:
#sentence_split

[['SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PROFIL PERSONNEL Je suis étudiante au lycée Condorcet',
  " Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens",
  " RÉALISATIONS Chef d'équipe du site Web du lycée - Vice-présidente du club cinématographique du lycée - Trésorière de la société des codeurs du lycée - Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques Centre scolaire de Condorcet Jan 2019 - présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire | Berou Solutions, Inc",
  " mars - mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE Lycée de Condorcet · Spécialisation en technologie | Classe de 2020 • Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES Marion Bardot | Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu | Directrice, Centre scolaire de Condorcet 01 12 13 14 15 bonjour@sitevraimentsuper",
  'fr www',
  'sitevraimentsuper',
  'fr']]

In [81]:
#type(sentence_split)

list

In [95]:
#sentence_split = sentence_split[0]

In [97]:
#sentence_split

['SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PROFIL PERSONNEL Je suis étudiante au lycée Condorcet',
 " Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens",
 " RÉALISATIONS Chef d'équipe du site Web du lycée - Vice-présidente du club cinématographique du lycée - Trésorière de la société des codeurs du lycée - Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques Centre scolaire de Condorcet Jan 2019 - présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire | Berou Solutions, Inc",
 " mars - mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE Lycée de Condorcet · Spécialisation en technologie | Classe de 2020 • Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES Marion Bardot | Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu | Directrice, Centre scolaire de Condorcet 01 12 13 14 15 bonjour@sitevraimentsuper",
 'fr www',
 'sitevraimentsuper',
 'fr']

In [98]:
#len(sentence_split)

7

In [83]:
#len(sentence_split[0])

7

In [96]:
#df = pd.DataFrame(sentence_split, columns="Sentence")

TypeError: Index(...) must be called with a collection of some kind, 'Sentence' was passed

In [92]:
#for raw in range(0, len(df)): 
#    doc = nlp(raw)
#    for token in doc:
#        print(token.text, token.lemma_, token.pos_, token.tag_, token.dep_,
#                token.shape_, token.is_alpha, token.is_stop)

ValueError: [E1041] Expected a string, Doc, or bytes as input, but got: <class 'int'>

In [78]:
# sentence_split

[['SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PROFIL PERSONNEL Je suis étudiante au lycée Condorcet',
  " Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens",
  " RÉALISATIONS Chef d'équipe du site Web du lycée - Vice-présidente du club cinématographique du lycée - Trésorière de la société des codeurs du lycée - Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques Centre scolaire de Condorcet Jan 2019 - présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire | Berou Solutions, Inc",
  " mars - mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE Lycée de Condorcet · Spécialisation en technologie | Classe de 2020 • Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES Marion Bardot | Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu | Directrice, Centre scolaire de Condorcet 01 12 13 14 15 bonjour@sitevraimentsuper",
  'fr www',
  'sitevraimentsuper',
  'fr']]