In [13]:
import pandas as pd

In [14]:
dataset = pd.read_csv("dataset_CV.csv", delimiter = ";")

In [15]:
dataset.head()

  CV_number                                            CV_text
0      CV_1  SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...
1      CV_2  Ananya Singh \nProfesseure de Lycée\nPROFIL PE...
2      CV_3  Samira Hadid \n16 place Urbain II, 63000 Clerm...
3      CV_4  Carine Maurice \nIngénieure logiciel avec 10 a...
4      CV_5  MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...

In [16]:
dataset.shape

(21, 2)

In [17]:
dataset.tail()

   CV_number                                            CV_text
16     CV_17  CONTACTEZ ADELINE Adeline est une amoureuse de...
17     CV_18  Adeline Pannier Actrice de Théâtre et de Ciném...
18     CV_19  INFOS DE CONTACT\nAdresse : Téléphone : Site w...
19     CV_20  Patrick Fournier 9 rue Desaix, 75010 Paris\n01...
20     CV_21  AKIRA THOMAS ANALYSTE DE SÉCURITÉ RÉCAPITULATI...

In [12]:
dataset.tail(6)

   CV_number                                            CV_text
17     CV_18  Adeline Pannier Actrice de Théâtre et de Ciném...
18     CV_19  INFOS DE CONTACT\nAdresse : Téléphone : Site w...
19     CV_20  Patrick Fournier 9 rue Desaix, 75010 Paris\n01...
20     CV_21  AKIRA THOMAS ANALYSTE DE SÉCURITÉ RÉCAPITULATI...
21       NaN                                                NaN
22       NaN                                                NaN

In [18]:
import spacy

In [19]:
nlp = spacy.load("fr_core_news_sm")

In [25]:
dataset["Tokenization_preparation"] = dataset["CV_text"].apply(lambda x : str(x).replace("\n", " "))

In [26]:
dataset.head()

,CV_number,CV_text,Tokenization_preparation
0,CV_1,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...,SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE PRO...
1,CV_2,Ananya Singh \nProfesseure de Lycée\nPROFIL PE...,Ananya Singh Professeure de Lycée PROFIL PERS...
2,CV_3,"Samira Hadid \n16 place Urbain II, 63000 Clerm...","Samira Hadid 16 place Urbain II, 63000 Clermo..."
3,CV_4,Carine Maurice \nIngénieure logiciel avec 10 a...,Carine Maurice Ingénieure logiciel avec 10 an...
4,CV_5,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE \nAS...,MARCELLE ANDRÉ EXPÉRIENCE PROFESSIONNELLE ASS...

In [ ]:
dataset.head()