## PART 3 - BlindCV_split_tasks

### Chargement de la part 2

Part 1

In [1]:
# Chargement des librairies nécessaires
import pandas as pd
import spacy

# Chargement de la dataset
dataset = pd.read_csv("dataset_CV.csv", delimiter = ";")
 
# Instanciation de la bibliothèque fr_core_news_lg de Spacy
nlp = spacy.load("fr_core_news_lg")

# Tokenization des textes de CV
dataset["Tokenization_preparation"] = dataset["CV_text"].apply(lambda x : str(x).replace("\n", " "))
dataset["Tokenization"] = dataset["Tokenization_preparation"].apply(lambda x : nlp(x))
dataset["Number_of_tokens"] = dataset["Tokenization"].apply(lambda x : len(x))

Part 2

In [2]:
## Sélection du texte du premier CV
doc = dataset.iloc[0,2]
doc = nlp(doc)

## Sentencisation du texte du CV
for sent in doc.sents :
    print(sent)

## Création d'une liste de phrase
list_sentence = []
for sent in doc.sents :
    list_sentence.append(sent)
    print(sent)

## Création d'une dataframe avec les phrases 
df = pd.DataFrame(columns = ['Sentence_CV1'])

## Insertion des phrases et suppression des parenthèses
df['Sentence_CV1'] = list_sentence
df['Sentence_CV1_clean'] = df['Sentence_CV1'].apply(lambda x : str(x).replace("(","").replace(")",""))

SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE
PROFIL
PERSONNEL Je suis étudiante au lycée Condorcet.
Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens.
RÉALISATIONS
Chef d'équipe du site Web du lycée
-
Vice-présidente du club cinématographique du lycée
- Trésorière de la société des codeurs du lycée -
Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques
Centre scolaire de Condorcet Jan 2019
- présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire
| Berou Solutions, Inc.
mars
- mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE
Lycée de Condorcet
· Spécialisation en technologie
| Classe de 2020 •
Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire
Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES
Marion Bardot
| Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu
| Directrice, Centre scolaire de Condorcet
01 12 13 14 15
bonjour@sitevraimentsuper.fr
www.sitevraimentsuper.fr
SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE
PROFIL
PERSONNEL Je suis étudiante au lycée Condorcet.
Je code depuis l'âge de 13 ans et j'aime créer des sites Web et utiliser la technologie pour aider les gens.
RÉALISATIONS
Chef d'équipe du site Web du lycée
-
Vice-présidente du club cinématographique du lycée
- Trésorière de la société des codeurs du lycée -
Premier prix au Hackathon de Condorcet EXPÉRIENCE Tuteur en mathématiques
Centre scolaire de Condorcet Jan 2019
- présent • Cours particuliers avec des élèves du secondaire sur différents domaines des mathématiques • Cours d'algèbre Développeuse stagiaire
| Berou Solutions, Inc.
mars
- mai 2019 Traduction de wireframes en code frontal Aide à la création d'une application de commande en ligne Recherche d'utilisateurs effectuée par le biais d'enquêtes et d'entretiens PARCOURS SCOLAIRE
Lycée de Condorcet
· Spécialisation en technologie
| Classe de 2020 •
Diplômée avec une moyenne de 16/20 • Membre de l'association des étudiants en histoire
Excellence académique en histoire, mathématiques et multimédia durant 2 années consécutives RÉFÉRENCES
Marion Bardot
| Professeure, lycée de Condorcet Caroline Clément | Professeure, lycée Beaulieu Myriam Barbu
| Directrice, Centre scolaire de Condorcet
01 12 13 14 15
bonjour@sitevraimentsuper.fr
www.sitevraimentsuper.fr

Part 3

In [3]:
## Création d'une colonne qui compte le nombre de phrase
df['Sentence_line'] = df.index
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0
1,(PROFIL),PROFIL,1
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3
4,(RÉALISATIONS),RÉALISATIONS,4

In [4]:
## Création d'une colonne qui compte le nombre de token dans la phrase
df['Nb_tokens'] = df['Sentence_CV1'].apply(lambda x : len(x))
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6
1,(PROFIL),PROFIL,1,1
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24
4,(RÉALISATIONS),RÉALISATIONS,4,1

In [5]:
## Création d'une colonne pour connaitre la position en pourcentage de la phrase par rapport au texte entier
df['Nb_tokens'].sum()

214

In [6]:
df['Nb_tokens'][0]

6

In [7]:
df['%texte_lu'] = 0

token_count = 0
for i in range(len(df)):
    token_count += df['Nb_tokens'][i]
    df['%texte_lu'][i] = round(((token_count / df['Nb_tokens'].sum()) * 100),2)

C:\Users\Dany\AppData\Local\Temp\ipykernel_4932\3557154337.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['%texte_lu'][i] = round(((token_count / df['Nb_tokens'].sum()) * 100),2)

In [8]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2.80
1,(PROFIL),PROFIL,1,1,3.27
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7.01
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18.22
4,(RÉALISATIONS),RÉALISATIONS,4,1,18.69

In [9]:
df["%texte_lu_fin_ligne"] = 0

nb_tokens_total = df["Nb_tokens"].sum()

for i in range(len(df)):
    df["%texte_lu_fin_ligne"][i] += (nb_tokens_total - df['Nb_tokens'][i]) / nb_tokens_total

C:\Users\Dany\AppData\Local\Temp\ipykernel_4932\1570157965.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["%texte_lu_fin_ligne"][i] += (nb_tokens_total - df['Nb_tokens'][i]) / nb_tokens_total

In [10]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2.80,0.971963
1,(PROFIL),PROFIL,1,1,3.27,0.995327
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7.01,0.962617
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18.22,0.887850
4,(RÉALISATIONS),RÉALISATIONS,4,1,18.69,0.995327

In [11]:
## Création de la colonne Grammaire pour connaitre le type de mots de la phrase

df["Grammar"] = 0

for i in range(0,len(df)):
    doc = df.iloc[i,1]
    doc = nlp(doc)
    list_token_pos = []
    for token in doc:
        list_token_pos.append(token.pos_)
        df["Grammar"][i] = list_token_pos

C:\Users\Dany\AppData\Local\Temp\ipykernel_4932\1926000585.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Grammar"][i] = list_token_pos

In [12]:
df.head()

,Sentence_CV1,Sentence_CV1_clean,Sentence_line,Nb_tokens,%texte_lu,%texte_lu_fin_ligne,Grammar
0,"(SELMA, LAFKIR, CORDE, 80, CODEUSE, ENTHOUSIASTE)",SELMA LAFKIR CORDE 80 CODEUSE ENTHOUSIASTE,0,6,2.80,0.971963,"[NOUN, PROPN, VERB, NUM, PROPN, PROPN]"
1,(PROFIL),PROFIL,1,1,3.27,0.995327,[NOUN]
2,"(PERSONNEL, Je, suis, étudiante, au, lycée, Co...",PERSONNEL Je suis étudiante au lycée Condorcet.,2,8,7.01,0.962617,"[NOUN, PRON, AUX, ADJ, ADP, NOUN, PROPN, PUNCT]"
3,"(Je, code, depuis, l', âge, de, 13, ans, et, j...",Je code depuis l'âge de 13 ans et j'aime créer...,3,24,18.22,0.887850,"[PRON, VERB, ADP, DET, NOUN, ADP, NUM, NOUN, C..."
4,(RÉALISATIONS),RÉALISATIONS,4,1,18.69,0.995327,[NOUN]

Fin création featuring - Part 1